node_modules/
.DS_Store
ONBOARDING.md
*.zip
.tenant-secrets
xc-config-objects/
webapp/data/
webapp/node_modules/
.env

# Terraform
*.tfstate
*.tfstate.*
*.tfplan
*.out
*.tfvars
!*.tfvars.example
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.p12